@model IEnumerable<JoinToUs.Application.EntitiesDto.CreateUser.CreateUserDto>

@{
    ViewData["Title"] = "Index";
}

<h1>Join To Us - Users</h1>

<p>
    <a asp-action="Create" class="btn btn-secondary">Create new user</a>
</p>

<div class="row">
    @foreach (var item in Model){
        <div class="card m-3" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">@item.UserName</h5>
                <h6 class="card-subtitle mb-2 text-muted">@item.PhoneNumber</h6>
                <p class="card-text">@item.PasswordHash</p>
                <a class="btn btn-primary" asp-controller="JoinToUs" asp-action="Details" asp-route-email="@item.Email">@item.Email</a>
            </div>
        </div>
    }
</div>